body {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    
    color: white;
    background-color: #f5f5f5;
}

.alt-grid [class*="col-"] {
    padding-left: 0;
    padding-right: 0
}

.alt-grid .row {
    margin-left: 0;
    margin-right: 0
}
/* container adjusted */
.alt-grid .container-fluid {
    width: 100%;
    max-width: none;
    padding: 0;
}

.navbar-brand img{
    max-height: 150px;
    max-width: 150px;
}

headerText {
    color: white;
    
    
}

.headeraffix img {
    margin-left: 10px;
    margin-right: 10px;
}

.titlerow {
    min-height: 90%;
    opacity: 1;
}

.titleCard {
    margin-left: 50px;
}

h1 {
    font-size: 24px;
}

h5{
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}

​ .carouselImage{
    max-height: 200px !important;
    max-width: 200px !important;
}

.contentRow {
    margin-bottom: 10px;
    min-height: 500px;
    max-height: 350px;
}
.contentCardContainer{
    min-height: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contentCards {
    color: white;
    background-color: inherit;
    padding: 10px;
    min-height: 500px;
    max-height: 350px;
    margin: 10px;
}


    .contentCardOverride {
     color: white !important;

    }
    .card-text{
        font-size: 16px !important;
    }


.u4ecard {
    min-height: 350px;
    max-height: 350px;
    margin-left: 5px;
    margin-right: 5px;
}


.reccIcons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: #55fff3;
}

.testimonialMods{
    max-height: 300px;
}

.contactEmbed{
    margin-top: 75px;

}

.pageFooter {
    min-height: 500px;
    color: #ffffff;
}

.avatar{
    max-height: 170px;
}

.testimonial p {
    color: white !important;
    font-size: 16px !important;
}

.headeraffix {
    height: 20%;

    position: sticky;
}

.anchoredImg {
    max-width: 133px;
    min-height: 133px;
}

.skillRow {
    margin-top: 3%;

    color: #ffffff;
}

.skillFooter {
    text-align: center;

    color: #ffffff;
}

.skillFooterAnim {
    animation-delay: 2s;
    padding-bottom: 10px;
}

.skill {
    height: inherit;
    padding-bottom: 10px;
}

    .skill h2 {
        text-align: center;
        animation-delay: 1.5s;
    }

    .skill ul {
        padding: 0px;
        text-align: center;
        list-style: none;
    }

.wipiconTransform {
    height: 16px;
    width: 16px;
}

#designicon {
    display: block;
    margin: auto;
    height: 50px;
    animation-delay: 1.5s;
}

#frontendicon {
    display: block;
    margin: auto;
    height: 50px;
    margin-top: 5px;
    animation-delay: 1.5s;
}

#backendicon {
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 50px;
    animation-delay: 1.5s;
}

#u4e iframe {
    margin-bottom: 10px;
}

#tsto iframe {
    margin-bottom: 10px;
}

#dk iframe {
    margin-bottom: 10px;
}
#u4emodal{
    margin-top: 15%;
}

body.modal-open div.modal-backdrop {
    z-index: 0 !important;
    bottom: 0;
}

@media (min-width: 1200px) {
    .titlerow {
        min-height: 425px;
        margin-left: 0;
        margin-right: 0;
    }
}
