body{
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}
/* container adjusted */
.alt-grid .container-fluid {width:100%;max-width:none;padding:0;}

.parallax {
    /* The image used */
    background-image: url("../Assets/360bridge.jpg");
    margin-top: 143px;
    /* Full height */
    height: 15%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.parralaxForeground{
  margin: 0;
}

.headeraffix img{
  margin-left: 10px;
  margin-right: 10px;
}

.navIconBorder{
  border: solid 2px yellow;
}

.centertitle {
  background-color: #ffffff;
}

.titlerow{
  bac
  opacity: 1;
}

h1{
  font-size: 24px;
}​

.tester{
  background-color: red;
}

.skillRow{
  background-color: #A33633;
  color: #ffffff;
  min-height: 225px;
}

.skillFooter{
  margin-bottom: 1%;
  text-align: center;
  background-color: #A33633;
  color: #ffffff;
}

.skillFooterAnim{
  animation-delay: 2s;
  padding-bottom: 10px;
}

.skill{
  min-height: inherit;
  padding-bottom: 10px;
}

.skill h2{
  text-align: center;
  animation-delay: 1.5s;
}

.skill ul{
  text-align: center;
  list-style: none;
}

.listanimator{
  animation-delay: 2s;
}
.wipiconTransform{
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.contentCards{
  margin-bottom: 20px;
  padding: 10px;
  min-height: 350px;
  max-height: 350px;
  margin-left: 5px;
  margin-right: 5px;
}

.u4ecard{
  min-height: 350px;
  max-height: 350px;
  margin-left: 5px;
  margin-right: 5px;
}


.reccIcons{
  height: 50px;
  width: 50px;
}

.pageFooter{
  min-height: 225px;
  color: #ffffff;
  background-color: #a33633;
  text-align: center;
  padding: 10px;
}
.headeraffix{
  background-color: #A33633;
  position: sticky;
}
.anchoredImg{
  max-width: 133px;
}
#designicon{
  display: block;
  margin: auto;
  height: 50px;
  animation-delay: 1.5s;

}

#frontendicon{
  display: block;
  margin: auto;
  height: 50px;
  margin-top: 5px;
  animation-delay: 1.5s;

}

#backendicon{
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 50px;
  animation-delay: 1.5s;

}

#u4e iframe{
  margin-bottom: 10px;
}

#tsto iframe{
  margin-bottom: 10px;
}

#dk iframe{

  margin-bottom: 10px;
}

.animDelayer{
  animation-delay: 6s;
}

#dkimg{
  animation-delay: .25s;
}

#tstoimg{
  animation-delay: .50s;
}

#fappimg{
  animation-delay: .75s;
}

#shredimg{
  animation-delay: 1s;
}
@media (min-width: 1200px) {
  .titlerow{
    min-height: 425px;
    margin-left: 0;
    margin-right: 0;
  }
 }
